public/index.php
.htaccessxxxxxx
indexnotused.php
.env
vendor
storage/encounter-47cbe-firebase-adminsdk-8hvxd-1317c2d38a.json
config/tntsearch_not_used.php

public/storage
config/filesystems.php
public/home_index/js/custom.js
resources/views/layouts/simple/css.blade.php
resources/views/layouts/authentication/css.blade.php
composer.lock
